[submodule "main/depthai-spi-library"] 
  path = main/depthai-spi-library
  url = https://github.com/luxonis/depthai-spi-library.git
[submodule "main/depthai-shared"]
	path = main/depthai-shared
	url = https://github.com/luxonis/depthai-shared.git
